.root {
	-fx-background-image: url("woodbg.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 2000 2000;
	-fx-background-position: center center;
	
}

.button {
	-fx-background-color: linear-gradient(#fa7070, #ffe800);
}

.desc_label {
    -fx-background-color: linear-gradient(#daa348, #f57316);
}

.button:pressed {
	-fx-background-color: linear-gradient(#fa7070, #fdf696);
}

.combo-box {
	-fx-font-family: Forte;
	-fx-background-color: linear-gradient(#fa7070, #ffe800);
}

.combo-box:pressed {
	-fx-background-color: linear-gradient(#fa7070, #fdf696);
}

.titled-pane > .title {
	-fx-background-color: linear-gradient(#daa348, #f57316);
}

.titled-pane > .content {
	-fx-background-color: #FFCBC1;
}

.table-view {
	-fx-background-color: transparent;
    -fx-font-family: Forte;
    -fx-font-size: 18px;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#daa348, #f57316);
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-font-family: Arial;
    -fx-font-size: 16px;
}

.table-row-cell:odd {
    -fx-background-color: #fbf2ea;
}
.table-row-cell:even {
    -fx-background-color: #f9eadd;
}

.table-row-cell:selected {
    -fx-border-color: #0096c9;
	-fx-background-color: #0096c9;
	-fx-text-fill: #FFFFFF;
    -fx-table-cell-border-color: #0096c9;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #daa348, #f57316);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #daa348, #f57316);
}

#categoryOptions {
    -fx-font-size: 18px;
}

#filterOptions {
    -fx-font-size: 16px;
}