#categoryOptions {
    -fx-font-family: Forte;
    -fx-font-size: 18px;
}

#filterOptions {
    -fx-font-family: Forte;
    -fx-font-size: 16px;
}

.table-view {
    -fx-font-family: Forte;
    -fx-font-size: 18px;
}

.table-row-cell {
    -fx-font-family: Arial;
    -fx-font-size: 16px;
}
